.navbar-colors {
    background-color:#797777;
}

.navbar-brand-colors {
    color: #ffdab9 !important;
}

.navbar-toggler {
    border-color: #ffdab9 !important;
}

body {
    background-color: #d2d2d2;
}

.ds-container {
    background-color: whitesmoke;
    margin: 100px auto;
}

h2 {
    color: #797777;
    padding: 10px 0px 0px;
}

.img-personal-photo {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

p {
    color: #797777;
}

span {
    color: #ffdab9;
}