body {
    background-color: #d2d2d2;
}

.navbar-colors {
    background-color:#797777;
}

.navbar-brand-colors, .portfolioImgText {
    color: #ffdab9 !important;
}

.navbar-toggler {
    border-color: #ffdab9 !important;
}

.ds-container {
    background-color: whitesmoke;
    margin: 100px auto;
}

h2, p {
    color: #797777;
}

h2 {
    padding: 10px 0px 0px;
}

.img-personal-photo {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ul-styling {
    margin: 5px, 10px;
}

span, .repositoryIcon, .buttonStyle {
    color: #ffdab9;
}

.cardImgStyles {
    height: 175px;
}

.portfolioImgTextSpace, .card-text {
    text-align: center;
}

.portfolioImgText {
    padding: 2.5px 5px;
}

.portfolioImgText, .repositoryIcon {
    background: #797777;
    border-radius: 5px;
}

.portfolioImgText, .repositoryIcon {
    text-decoration: none !important;
}

.portfolioImgText, .card-text {
    font-size: 20px;
}

.repositorySection {
    border-top: 1px solid #797777;
    padding-top: 10px;
}

.repositoryIcon {
    padding: 5px;
}

.buttonStyle {
    background: #797777;
    border-color: #5a5757;
}

.buttonStyle:hover {
    background: #5a5757;
    border-color: #5a5757;
    color: #ffdab9;
}

.footerIcons {
    margin: 0px 10px
}