
body {
    background-color: #d2d2d2;
}

.navbar-colors {
    background-color:#797777;
}

.navbar-brand-colors {
    color: #ffdab9 !important;
}

.navbar-toggler {
    border-color: #ffdab9 !important;
}

.ds-container {
    background-color: whitesmoke;
    margin: 100px auto;
}

h2 {
    color: #797777;
    padding: 10px 0px 0px;
}

.img-personal-photo {
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

p {
    color: #797777;
}

.ul-styling {
    margin: 5px, 10px;
}

span {
    color: #ffdab9;
}

.cardImgStyles {
    height: 175px;
}

.portfolioImgTextSpace {
    text-align: center;
}

.portfolioImgText {
    font-size: 20px;
    border-radius: 5px;
    padding: 2.5px 5px;
    color: #ffdab9 !important;
    background: #797777;
    text-decoration: none !important;
}

.card-text {
    text-align: center;
    font-size: 20px;
}

.repositorySection {
    border-top: 1px solid #797777;
    padding-top: 10px;
}

.repositoryIcon {
    background: #797777;
    color: #ffdab9;
    text-decoration: none !important;
    padding: 2.5px;
    border-radius: 5px;
}

.contactSideBar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.mobileIcon, .resumeIcon {
    background: #797777;
    color: #ffdab9;
    border-radius: 5px;
    margin-left: 15px;
}

.mobileIcon {
    padding: 10px
}

.resumeIcon {
    padding: 15px
}

.modal-header {
    justify-content: center;
}

.modal-title {
    color: #797777;
}

#phoneNumber {
    text-align: center;
    color: #797777;
}

.buttonStyle {
    background: #797777;
    border-color: #5a5757;
    color: #ffdab9;
}

.buttonStyle:hover {
    background: #5a5757;
    border-color: #5a5757;
    color: #ffdab9;
}
